<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel Kenya  |  Experiences </title>
    <link href="/assets/css/experiences.css" rel="stylesheet">
</head>
<body>
    <div class="exMain">
        <div class="exHead">
            <div class="title">Experiences</div>
            <p>Explore different parts of Magical Kenya. Get awesome and breathtaking experiences. Plan <br>your <a href="#" class= "link">next adventure now.</a></p>
        </div>
        <div id="container"></div>
        <div class="events"></div>
    </div>
    <script src="/components/experiences/src/main.jsx"></script>
</body>
</html>