.slider {
    width: 100%;
    height: 100%;
    position: relative;
}
.expeContainer {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.experience-tag {
    background: transparent;
    color: white;
    font-weight: 700;
    font-size: 32px;
}
.loc-item {
    width: fit-content;
    height: 20
}
