
<div class="card">
            <div class="card-image" ><img src="assets/images/hippos_naivasha.jpg" alt="hippos_naivasha" class="actual_image" style="width: 100%;height: auto;border-radius: 6px 6px 6px 6px ;"></div>
            
            <div class="category"> Lake Naivasha park </div>
            <div class="category" id="county"><i>Naivasha,Nakuru County </i></div>
                <div class="ratings">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 3%;">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 3%;">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 3%;">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 3%;">
                    <img src="assets/images/halfstar.svg" alt="Half star" style="width: 3%;">
                </div>      
                <dialog> This is an open dialog box </dialog>
                <div class="author"><a href="https://maps.app.goo.gl/hk2km7PUGybgkpJMA">Loldai House</a></div>
            </div>
</div>
<link rel="stylesheet" href="../assets/css/card.css">
