
    <section>
        <div id="cCarousel">
          <div class="arrow" id="prev"><b> <  </b><i class="fa-solid fa-chevron-left"></i></div>
          <div class="arrow" id="next"><b> > </b><i class="fa-solid fa-chevron-right"></i></div>
      
          <div id="carousel-vp">
            <div id="cCarousel-inner">
      
              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdblnm_jGguxwtCSVbAO12viIHz9OAIRGSzPZUBSEXqfyWPtAps9fnQhLtaK1Dh5X4fVn5kzpLu4rG8u7kVue_8pYvpl2ZAdov9etk8OHWXqHUuNIZDPjlM-I-AqNQWci5qkUEQQGnsVV7XGoUQqQ9cFR3Vh-Iu2iVK0N7mcPxZnwW3Hc&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Maasai Mara National Park</h3>
                  <h4>Narok County</h4>
                  <p> <b>Accomodation:</b><a href="https://maps.app.goo.gl/dXosUsbj5ariTwn47">Ashnil Camp</a> </p>
                  
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdbmT8mFCZbmaR5zqw9w2HeX4Shv-7urivJg125zqbxlHFIA4xo3jmjD3P6jRdKnmXvSeoBicucfZ4gHALCqw31Pn7ndgvPMnCyFqouc0DuNjDc_tnpJqBFT5uqv9e0OlRFiYghD12CVR2vz3D_ZCKKbMFp81NdwiH88jsG4V9dyamtIH&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Amboseli National Park</h3>
                  <h4>Kajiado County</h4>
                <p> <b>Accomodation:</b><a href="https://www.google.com/travel/search?g2lb=4965990,4969803,72277293,72302247,72317059,72406588,72414906,72421566,72471280,72472051,72481459,72485658,72560029,72573224,72614662,72616120,72619927,72647020,72648289,72686036,72760082,72803964,72808078,72825294,72827240,72832976&hl=en-KE&gl=ke&cs=1&ssta=1&q=amboseli+national+park+accommodation&ts=CAESCAoCCAMKAggDGhwSGhIUCgcI6Q8QARgfEgcI6Q8QAhgBGAEyAhAAKgcKBToDS0VT&qs=CAEyFENnc0kxZW5KeWNTVm1aemNBUkFCOApCCREk7_edS-euP0IJEWCcnMm0MllmQgkRZFHnqRPZio9aZTJjqgFgEAEqESINYWNjb21tb2RhdGlvbigAMh8QASIbKBeiF31z1UnoZ8bAQjGyDtuvHo_HR3Wvy8dPMigQAiIkYW1ib3NlbGkgbmF0aW9uYWwgcGFyayBhY2NvbW1vZGF0aW9u&ap=aAG6AQhvdmVydmlldw&ictx=111&ved=1t:196188">Serena Safari</a> </p>
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdbm4v2RzCwIjqdJY-jKggdv3EGZXXPqCD3I4w7lnJoKy5_Q0x8grNZxcB3NFOK93CddlFr0eekQVfk5MB8V5gr4I5e0ioZ5vJAVOcMK_E3agkMtEGN0dzMRMkQW1qkxURK7g0N1eyphQBuobCA-w9kAJ3q7o6hNFr5N6cHfdOAh0Sgvf&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Nairobi National Park</h3>
                  <h4>Nairobi County</h4>
                  <p> <b>Accomodation:</b><a href="https://maps.app.goo.gl/YohpUBREPdoZ8zVy6">Ololo Safari</a> </p>
                  
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdbkc4p5ivJSd8k2GiikSsbS48btM1dWV6YLb0-RPwTlctGCw0l001cBZd7CBpJKQ1PuBiO2iHrXbwEComHnkJ8Fqz5mXABwTHAMT6i1n3_lbAHiTqfCDniUNkEPv9FYa8rDFKy41pprgQUT7zRV58YKwiHZ1Y_1s0wKWhUjtlhi6pdum&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Fort Jesus Museum</h3>
                  <h4>Mombasa County</h4>
                  <p> <b>Accomodation:</b><a href="https://maps.app.goo.gl/wNEFnNBo4LD8oLpc7">Tulia old Town</a> </p>
                  
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdbmxpbduo9GgtfCHvtSW1sF_SzHETrhfk4s0Ihy17bnQ0k73mk2nLemqCYj7v8kWGG8hO2nKluDSHMF9_J6zHKWFAOCsoRXZjj7vLj4cGQtjIt98sV3AjOA9hM7g1lA6I4SVOgHV7bnQ5AqDj1rcYOfOuDP3GNvAGRB_17cm0glEwhxn&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Gedi Ruins</h3>
                  <h4>Kilifi County</h4>
                  <p> <b>Accomodation:</b><a href="https://maps.app.goo.gl/UZKPPSXaQdR7Wqg5A">Mida Creek</a> </p>
                  
                </div>
              </article>
      
              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdbmjD6dCKgZjYhb3l9mS_PMGP3ZwDP09S5CPvk7LG5Q_UrFGFi0PtazJM81jh0NUplHo62602MtwhFME5G-_5HgirZ7GorH2rpDjFnxnEmou-xxskd8ooXjKmUYzq-X-PYPpIvAvc1oW-cj9buLYm_JZbzaChCaEp9J7Y3rb9kIQtUBs&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Mount Kenya</h3>
                  <h4>Nyeri County</h4>
                  <p> <b>Accomodation:</b><a href="https://maps.app.goo.gl/1gvePxUX2QC428gY6">Mt Kenya Lodge</a> </p>
                  
                </div>
              </article>

              <article class="cCarousel-item">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=AVzFdbmQqFmWSXbwMqSvJaPRTz45xN94iT1TX9S6n7l6vr1VPNFUjdFj7OMHPTxbuUbFzE-QkAuc1ERPSDvHaoD1PXSGeLbGljTTbyGrMwOErYJmmXP9hFJsg_bGTwJSJUQnJ_wveP9rZnbvyldqis3FP-6rYT26zN-pOEYcIYgbfSaQuC5N&key=AIzaSyCyeaFxaelGZ4sH4x9SUz0OcyYnS7lgxf0" alt="Maasai Mara">
                <div class="infos">
                  <h3>Lake Nakuru</h3>
                  <h4>Nakuru County</h4>
                  <p> <b>Accomodation:</b><a href="https://maps.app.goo.gl/7xLNQ8aKz6YxoDQ4A">Sarova Lodge</a> </p>
                  
                </div>
              </article>

              

            </div>
          </div>
        </div>
      </section>
      <script src="../assets/js/courosel.js"></script>

    


    <!-- <div >
        <div class="card">
            <div class="card-image" ><img src="assets/images/hippos_naivasha.jpg" alt="hippos_naivasha" class="actual_image" style="width: 100%;height: auto;border-radius: 6px 6px 6px 6px ;"></div>
            
            <div class="category"> Lake Naivasha park </div>
            <div class="heading">Naivasha,Nakuru County   
                <div><img src="assets/images/star.svg" alt="Ratings" style="width: 10%;">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 10%;">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 10%;">
                    <img src="assets/images/star.svg" alt="Ratings" style="width: 10%;">
                    <img src="assets/images/halfstar.svg" alt="Half star" style="width: 10%;"></div>          
                <div class="author"><a href="https://maps.app.goo.gl/hk2km7PUGybgkpJMA">Loldai House</a></div>
            </div>
        </div>

</div> -->
