<div id="experience-body">
    <hr>
    <h1 id="experience-heading" > Experience</h1>
    <p id="experience-subheading">Immerse yourself in the rich cultural heritage and breathtaking landscapes of Kenya. Our curated selection of destinations includes game parks, historical sites, and natural wonders that will leave you in awe of this diverse country.</p>

    <!-- Review 1-->
    <hr>
    <div class="review">
        <img class="review-images" style="width: 35%; height: 35vh; margin-left: 40px;" src="https://lh3.googleusercontent.com/places/ANXAkqGKeNcf6EWVLMuY9hztwjSODiuteLrFonnW70wizXt1adBhT2SnCPP6HP2YAeH3fC0CHQbr75JRCid4AV8rOpbSEBN5WzbRtjg=s1600-w800" alt="Profile Picture" class="profile-picture">
        <div id="review-1-info">
            <p id="review-1-category">Historical Site <br> Preserving Heritage</p>

            <p id="review-1-paragraph">Explore Kenya's vibrant cultural sites that showcase the country's traditions, art, and history. 
                <br>
                From ancient ruins to traditional villages, each site offers a unique glimpse into Kenya's rich cultural tapestry.
            </p>
            
        </div>

    </div>

    <!-- Review 2-->
    <hr>
</div>     <div class="review">
        <img class="review-images" style="width: 40%; height: 35vh; margin-left: 40px;" src="https://lh3.googleusercontent.com/places/ANXAkqEXyLARKhzZS_mJBZqtHZkj0ZNDnfcXf9gYxYL_g7leEFgfyFasqWcC-yPjWEFVhBeT0yTHc_cDo-q9S5hIVXv_IH50M3n7rqw=s1600-w800" alt="Profile Picture" class="profile-picture">
        <div id="review-1-info">
            <p id="review-1-category">Game Parks <br> Safari Adventures</p>

            <p id="review-1-paragraph">Embark on thrilling safari adventures in Kenya's renowned game parks, where you can witness the majestic wildlife up close. 
                <br>
                Experience the thrill of spotting lions, elephants, and giraffes in their natural habitat.
            </p>
            
        </div>
    </div>

    <!-- Review 3-->
</div>          <hr>
    <div class="review">
        <img class="review-images" style="width: 40%; height: 35vh; margin-left: 40px;" src="https://lh3.googleusercontent.com/places/ANXAkqEwpeRRaDdaY22fUQJmHlzNS_spbZd-HB0dYz8ej_DEdZGLUs0yGKFoN3MEEobckmT3ZgdhWlu0pOT6pjOiU04Nk8nBADxj2As=s1600-w800" alt="Profile Picture" class="profile-picture">
        <div id="review-1-info">
            <p id="review-1-category">Natural Wonders <br> Breathtaking landscapes</p>

            <p id="review-1-paragraph">Discover Kenya's natural wonders, from snow-capped mountains to pristine beaches.
                <br>
                Whether you're a nature lover or an adventure seeker, Kenya offers a diverse range of landscapes waiting to be explored.
            </p>
            
        </div>
    </div>

    </div>   <!-- Review 4-->
    <hr>
    <div class="review">
        <img class="review-images" style="width: 80%; height: 35vh; margin-left: 40px;" src="https://lh3.googleusercontent.com/places/ANXAkqHEaP5yQYQo8UVD-3IdfZ7K7N-fI4I5e2zWJUnhJNu0KNZZe3KPxJSqJdx7b5OOO91L6Xx80lgqbFgICxGFQhE0f1tYtcPTkH8=s1600-w800" alt="Profile Picture" class="profile-picture">
        <div id="review-1-info">
            <p id="review-1-category"> Museums <br> Wonders of Kenya's underwater cultural heritage</p>

            <p id="review-1-paragraph">Discover Kenya’s rich history and vibrant culture through its fascinating museums. 
                <br>
                From the iconic Nairobi National Museum, showcasing Kenya’s heritage, to the Karen Blixen Museum, where you can step into the world of the famed author of Out of Africa, each museum offers a unique glimpse into the country’s past. 
            </p>
            
        </div>
    </div>

        
</div>
<link rel="stylesheet" href="../assets/css/experience.css">
