<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Travel Kenya  |  Experiences </title>
    <link href="/assets/css/experiences.css" rel="stylesheet">
</head>
<body>
    <div class="exMain">
        <div class="exHead">
            <div class="title">Experiences</div>
            <p>Explore different parts of Magical Kenya. Get awesome and breathtaking experiences. Plan <br>your <a href="#" class= "link">next adventure now.</a></p>
        </div>
        <div id="root"></div>
        <div class="carousel">
            <div class="slide" id="n1">
                <div class="ex-title">Cultural Sites</div>
                <div id="Sitesc">
                    <p>Kenya's cultural heritage is a rich blend of traditions, languages, and customs from over 40 ethnic groups, including the Kikuyu, Luo, Luhya, Maasai, and Swahili. This diversity is reflected in Kenya’s music, dance, cuisine, clothing, and festivals.</p>
                </div>
            </div>
            <span class="carousel-nav">
                <button class="n1"></button>
                <button class="n2"></button>
                <button class="n3"></button>
                <button class="n4"></button>
                <button class="n5"></button>
            </span>
            <button class="view-locs">View</button>
        </div>
        <div class="carousel">
            <div class="slide" id="n1">
                <div class="ex-title">Cultural Sites</div>
                <div id="Sitesc">
                    <p>Kenya's cultural heritage is a rich blend of traditions, languages, and customs from over 40 ethnic groups, including the Kikuyu, Luo, Luhya, Maasai, and Swahili. This diversity is reflected in Kenya’s music, dance, cuisine, clothing, and festivals.</p>
                </div>
            </div>
            <span class="carousel-nav">
                <button class="n1"></button>
                <button class="n2"></button>
                <button class="n3"></button>
                <button class="n4"></button>
                <button class="n5"></button>
            </span>
            <button class="view-locs">View</button>
        </div>
        <div class="carousel">
            <div class="slide" id="n1">
                <div class="ex-title">Cultural Sites</div>
                <div id="Sitesc">
                    <p>Kenya's cultural heritage is a rich blend of traditions, languages, and customs from over 40 ethnic groups, including the Kikuyu, Luo, Luhya, Maasai, and Swahili. This diversity is reflected in Kenya’s music, dance, cuisine, clothing, and festivals.</p>
                </div>
            </div>
            <span class="carousel-nav">
                <button class="n1"></button>
                <button class="n2"></button>
                <button class="n3"></button>
                <button class="n4"></button>
                <button class="n5"></button>
            </span>
            <button class="view-locs">View</button>
        </div>
        <div class="carousel">
            <div class="slide" id="n1">
                <div class="ex-title">Cultural Sites</div>
                <div id="Sitesc">
                    <p>Kenya's cultural heritage is a rich blend of traditions, languages, and customs from over 40 ethnic groups, including the Kikuyu, Luo, Luhya, Maasai, and Swahili. This diversity is reflected in Kenya’s music, dance, cuisine, clothing, and festivals.</p>
                </div>
            </div>
            <span class="carousel-nav">
                <button class="n1"></button>
                <button class="n2"></button>
                <button class="n3"></button>
                <button class="n4"></button>
                <button class="n5"></button>
            </span>
            <button class="view-locs">View</button>
        </div>
        <div class="carousel">
            <div class="slide" id="n1">
                <div class="ex-title">Cultural Sites</div>
                <div id="Sitesc">
                    <p>Kenya's cultural heritage is a rich blend of traditions, languages, and customs from over 40 ethnic groups, including the Kikuyu, Luo, Luhya, Maasai, and Swahili. This diversity is reflected in Kenya’s music, dance, cuisine, clothing, and festivals.</p>
                </div>
            </div>
            <span class="carousel-nav">
                <button class="n1"></button>
                <button class="n2"></button>
                <button class="n3"></button>
                <button class="n4"></button>
                <button class="n5"></button>
            </span>
            <button class="view-locs">View</button>
        </div>
        <div class="carousel">
            <div class="slide" id="n1">
                <div class="ex-title">Cultural Sites</div>
                <div id="Sitesc">
                    <p>Kenya's cultural heritage is a rich blend of traditions, languages, and customs from over 40 ethnic groups, including the Kikuyu, Luo, Luhya, Maasai, and Swahili. This diversity is reflected in Kenya’s music, dance, cuisine, clothing, and festivals.</p>
                </div>
            </div>
            <span class="carousel-nav">
                <button class="n1"></button>
                <button class="n2"></button>
                <button class="n3"></button>
                <button class="n4"></button>
                <button class="n5"></button>
            </span>
            <button class="view-locs">View</button>
        </div>
        <div class="events"></div>
    </div>
    <script src="/components/experiences/src/main.jsx"></script>
</body>
</html>