<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Travel Kenya</title>
</head>
<body>

    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-section about">
                    <h1 class="logo-text"><span>Travel</span>Kenya</h1>
                    <p>
                        Travel Kenya is a blog that showcases the beauty of Kenya. We aim to show you the best places to visit in Kenya and give you a taste of what it's like to travel in Kenya.
                    </p>
                    <div class="contact">
                        <span><i class="fas fa-phone"></i> &nbsp; 0722-123-456</span>
                        <span><i class="fas fa-envelope"></i> &nbsp; info@travelkenya.com</span>
                    </div>
                </div>
            </div>
        </div>
    
    </footer>
</body>
</html>
