
    
<div class="card">
    
    <div class="profile-container">
        <img src="../assets/images/profile_pic.svg" alt="Profile Picture" class="profile-picture">
        <div class="profile-details">
            <span class="profile-name">John Doe</span>
            <div class="stars">
                <img src="../assets/images/star.svg" alt="Ratings" class="star">
                <img src="../assets/images/star.svg" alt="Ratings" class="star">
                <img src="../assets/images/star.svg" alt="Ratings" class="star">
                <img src="../assets/images/star.svg" alt="Ratings" class="star">
                <img src="../assets/images/halfstar.svg" alt="Ratings" class="star">
            </div>
        </div>
    </div>

    
    <div class="infos">
        <p class="date-time">2 days ago</p>
        <h2 class="place-title">Lake Naivasha</h2>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus cumque tempore suscipit qui dicta doloremque accusantium, veritatis, recusandae eos officiis cum, totam alias placeat labore consequuntur vero! Quidem, sint illo.
    
        </p>
    </div>
</div>


