<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\assets\css\review_card.css">
</head>
<body style="background-color: aquamarine;">
    
<div class="card">
    <div class="stars">
        <img src="../assets/images/star.svg" alt="Ratings" style="width: 10%;">
        <img src="../assets/images/star.svg" alt="Ratings" style="width: 10%;">
        <img src="../assets/images/star.svg" alt="Ratings" style="width: 10%;">
        <img src="../assets/images/star.svg" alt="Ratings" style="width: 10%;">
        <img src="../assets/images/halfstar.svg" alt="Ratings" style="width: 10%;">
      
    </div>

    <div class="infos">
      <p class="date-time">
                      2 day ago
      </p>
      <p class="description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur.
      </p>
  </div>

  <div class="author">
    — John Doe
  </div>
 </div>
 

    
</body>
</html>