
.card {
    width: 70%;
    /* max-width: 300px; */
    margin-left: 100px;
    margin-right: 50px;
    /* opacity: 0.1; */
    background:  rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.9); */
    padding: 0;
    /* border-radius: 6px; */
  }
  
  .card-image {
    width: 100%;
    height: 100;
    align-items: right;
    /* border-radius: 6px 6px 6px 6px; */
    /* overflow: hidden; */
  }
  

  .card-image:hover, .card-image:focus {
    transform: scale(1.02);
    transition-duration: 200ms ;
    transition-delay: 200ms;
     
}


.category:hover, .category:focus {
    text-decoration: underline;
}

  
  
  .category {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: rgb(0, 0, 0);
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    display: flex;
    justify-content: center;
  }

  #county{
    font-size: 12px;
    font-weight: 500;
  }

  .ratings{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  
  .name:hover {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .card {
        padding: 1em;
    }

    .category {
        font-size: 13px; /* Smaller text for smaller devices */
    }

    .heading {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 85%;
        padding: 0.6em;
    }

    .category, .heading {
        text-align: center; /* Align text for narrow screens */
    }
}

  