
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: rgba(55, 229, 125, .7);
    --fore: white;
    --button-border-radius: 50px;
    --canvas-border-radius: 7px;
    --box-shadow: 0 10px 40px (200, 200, 200, .9);
    --button-bg: transparent;
    --font: Roboto, arial;
    --title-size: 32px;
    --align: center;
    --titie-weight: 600;
    --display-1: flex;
    --display-2: grid;
    --button-bg: white;
    --button-hover-fg: white;
    --button-hover-bg: rgba(255, 255, 255, 0.349);
}

.exMain {
    background: url(/assets/images/stefan-stefancik-TPv9dh822VA-unsplash.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-size: cover; 
    background-color: #005587;
    margin: 0 auto;
    padding: 30px;
    color: white;
    border-radius: 15px;
    font-family: var(--font);
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.exHead div{
    font-size: 32px;
    font-weight: 700;
}

.exHead p a {
    text-decoration: none;
}

.container {
    width: 100%; 
    height: fit-content;
    gap: 10px;
    align-items: center;
}


.carousel {
    width: 80%;
    color: white;
    background-color: rgba(222, 222, 222, .6);
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    height: 300px;
    min-height: 150px;
    margin-bottom: 50px;
    box-shadow: var(--box-shadow);
}

.ex-title {
    font-size: 32px;
    font-weight: 700;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

#n2, #n3, #n4, #n5 {
    display: none;
    opacity: 0;
    visibility: hidden;
}


.carousel-nav {
    position: absolute;
    bottom: -10px;
    display: flex;
    gap: 5px;
    margin: 0 auto;
} 
.carousel-nav > button {
    height: 2px;
    width: 7px;
    border: none;
    background: rgba(255, 255, 255, 0.349);
    cursor: pointer;
    border-radius: 10px;
    padding: none;
}
.n1 {
    background: white;
}
#Sitesc > p {
    width: 60%;
    right: 0;
    height: 100%;
}

.view-locs {
    background-color: white;
    cursor: pointer;
    height: 50px;
    width: 80px;
    font-weight: 600;
    position: absolute;
    border: none;
    border-radius: 25px;
    bottom: 15px;
    font-size: 18px;
}