body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #637062;
}

#content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#destinations-heading{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#place-cards {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
}

#places-to-visit{
    margin: 0;
    padding: 0;
    /* height: vh; */
    width: 100%;
    background: linear-gradient(to bottom, #4f604e, #565f55, #4f604e);
}

#reviews{
    width: 100%;
}

#reviews-table{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to bottom, #4f604e, #565f55, #4f604e);
}

#reviews-heading{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}

#experiences{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#our-gameparks{
    align-items: center;
}

#video-h2{
    color: "white";
    padding-left: 10px;
}

#video-h3{
    color: "white";
    padding-left: 10px;
}

#user-review{
    margin: 0;
    padding: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #4f604e, #565f55, #4f604e);
}