.card {
  display: flex;   
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-shadow: 0 10px 40px rgb(53, 53, 53);
  padding: 20px;
  width: 95%;
  margin: auto; 
 
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 15px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.stars {
  display: flex;
  gap: 5px;
}

.star {
  width: 20px;
  height: 20px;
}
.place-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.infos {
  margin-top: -20px;
}

.date-time {
  color: rgb(4, 0, 255);
  font-size: 12px;
  font-weight: 600;
}

.description {
  margin-top: 0.4rem;
  line-height: 1.625;
  color: rgba(107, 114, 128, 1);
}
